/*!
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-filetype-document{
	background-image: url('../img/x-office-document.svg')
}

.icon-filetype-spreadsheet{
	background-image: url('../img/x-office-spreadsheet.svg');
}

.icon-filetype-presentation {
	background-image: url('../img/x-office-presentation.svg');
}